

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../imagens/bg2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    
    position: relative;
    height: 98vh;
    padding: 10px;
    background-position: center;
    background-size: cover;
    color: white;
}

header a {
    color: white;
}

.conteiner {
    background-size: 100% 100%;
    background-attachment: fixed;
    
    position: relative;
    height: 98vh;
    padding: 10px;
}

#sobre {
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}
.conteudo {
    background-size: 100% 100%;
    text-align: center;
    background-color: brown;
    position: absolute;
    height: 200px;
    width: 1000px;
    color: white;
    font-size: 2em;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}